<div class="container mb-5">
    <div class="d-flex align-items-center border">
        <div class="col text-center border content">
            <span class="border-left">
                <b>Id</b>
            </span>
        </div>
        <div class="col text-center border content">
            <span class="border-left">
                <b>Name</b>
            </span>
        </div>
        <div class="col text-center border content">
            <span class="border-left">
                <b>Last Name</b>
            </span>
        </div>
    </div>
    <div *ngIf="!(entities | async)?.length" class="text-center">
        Cargando...
    </div>
    <div *ngFor="let entity of entities | async" class="d-flex align-items-center">
        <div class="col text-center border content">
            <span class="border-left">
                {{entity.id}}
            </span>
        </div>
        <div class="col text-center border content">
            <span class="border-left">
                {{entity.name}}
            </span>
        </div>
        <div class="col text-center border content">
            <span class="border-left">
                {{entity.lastName}}
            </span>
        </div>
    </div>
</div>

